<!DOCTYPE html>
{% extends 'blogapp/base.html' %}
{% block title_content%}My blog{%endblock%}
{% load static %}
{% block css%}
<link rel="stylesheet" type="text/css" href='{% static "/css/home.css" %}'>{%endblock%}



{% block content%}

<main>
  <div class="alert alert-success text-center" role="alert">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="container text-center">
    <header>
      <h1>Home Blog</h1>
      <main>
        {% if blog %}
        {% for blog in blog %}
        <article>
          <!-- {{blog.id}} -->
          <h2><a href="{% url 'blog_detail' blog.slug %}">{{blog.title}}</a></h2><br>
          <img src="/media/{{blog.image}}">
          <p>{{blog.content|truncatewords:25 |safe}}</p>
          <h4><a href="{% url 'blog_detail' blog.slug %}">See full blog</a></h4>
          <h3>Auther :- {{blog.user.username}}</h3>
          <p class="post-meta">Created At :- {{blog.created_at}}</p>
          <br><br><br>
        </article>
        <br>
        <hr><br><br>
        {%endfor%}

        {%else%}
        <h1>No Blog Has Been Posted</h1>
        {%endif%}



  </div>
</main>
<script>

  setInterval(function random() {
    var h1 = document.querySelectorAll('h1')
    var h2 = document.querySelectorAll('h2')
    var p = document.querySelectorAll('p')

    var x = Math.floor(Math.random() * 255);
    var y = Math.floor(Math.random() * 255);
    var z = Math.floor(Math.random() * 255);
    var bgcolor = "rgb(" + x + "," + y + "," + z + ")";
    var bgcolor2 = "rgb(" + z + "," + x + "," + x + ")";


    h1[0].style.color = bgcolor



  }, 800)

</script>
</script>
{%endblock%}